.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration: none;
}

.App-header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-and-name {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  /* background-color: #007458; */
  background-color: rgb(2, 2, 173);
}

.header-logo.mobile {
  height: 26px;
  width: 26px;
}

.header-name {
  /* color: #007458; */
  color: rgb(2, 2, 173);
  font-size: 24px;
  margin-left: 5px;
  font-weight: bold;
}

.header-name.mobile {
  font-size: 21px;
  font-weight: normal;
}

.coming-soon {
  margin: 20px;
  color: #5c5c5c;
  background-color: #e5e5e5;
  padding: 7px 12px;
  border-radius: 20px;
}

.coming-soon.mobile {
  font-size: 14px;
  padding: 5px 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 500px;
  /* margin-bottom: 50px; */
}

.main-content.mobile {
  width: 85%;
  min-width: 100px;
}

.main-text {
  color: rgb(2, 2, 173);
  margin: 0;
  margin-bottom: 50px;
  font-size: 44px;
  line-height: 42px;
}

.main-text.mobile {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 26px;
}

.secondary-text {
  color: #8b8b8b;
  font-weight: normal;
  margin: 0;
  margin-bottom: 25px;
  font-size: 28px;
  line-height: 26px;
}

.secondary-text.mobile {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 16px;
}

.main-button {
  /* background-color: #b4f3dd; */
  background: linear-gradient(
    91.01deg,
    #7cffd149 0.41%,
    rgba(211, 137, 224, 0.2) 52.58%,
    rgba(255, 78, 119, 0.2) 97.51%
  );
  /* color: #007458; */
  color: rgb(2, 2, 173);
  font-size: 26px;
  padding: 10px 30px;
  border-radius: 40px;
  font-weight: 550;
  margin-top: 30px;
}

.main-button.mobile {
  font-size: 20px;
  padding: 8px 26px;
  margin-top: 20px;
}
