.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration: none;
}

.App-header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-and-name {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background-color: #007458;
}

.header-name {
  color: #007458;
  font-size: 24px;
  margin-left: 5px;
  font-weight: bold;
}

.coming-soon {
  margin: 20px;
  color: #5c5c5c;
  background-color: #e5e5e5;
  padding: 7px 12px;
  border-radius: 20px;
}

.main-content {
  width: 40%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

h1 {
  /* color: #007458; */
  color: rgb(2, 2, 173);
  font-size: 44px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 50px;
}

h3 {
  color: #8b8b8b;
  font-size: 28px;
  line-height: 27px;
  font-weight: normal;
  width: 90%;
  margin-top: 0;
  margin-bottom: 25px;
}

.main-button {
  /* background-color: #b4f3dd; */
  background: linear-gradient(
    91.01deg,
    #67f4c38e 0.41%,
    rgba(237, 128, 255, 0.14) 52.58%,
    rgba(255, 68, 113, 0.3) 97.51%
  );
  color: #007458;
  font-size: 26px;
  padding: 10px 30px;
  border-radius: 40px;
  font-weight: 550;
  margin-top: 30px;
}
