.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
  background-image: url("http://localhost:8005/images/background.png");
  background-size: 2235px 1177px;
  background-position: top center;
  background-repeat: no-repeat;
}

.App.mobile {
  background-color: black;
  background-size: cover;
}

a {
  text-decoration: none;
}

.App-header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-and-name {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  height: 36px;
  width: 36px;
  border-radius: 16px;
}

.header-logo.mobile {
  height: 26px;
  width: 26px;
}

.header-name {
  /* color: rgb(2, 2, 173); */
  color: white;
  font-size: 24px;
  margin-left: 5px;
  font-weight: bold;
}

.header-name.mobile {
  font-size: 21px;
  font-weight: normal;
}

.coming-soon {
  margin: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 7px 12px;
  border-radius: 20px;
}

.coming-soon.mobile {
  font-size: 14px;
  padding: 5px 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: 500px;
  margin: 80px;
}

.main-content.mobile {
  width: 75%;
  min-width: 100px;
  margin: 30px;
}

.main-text {
  /* color: rgb(2, 2, 173); */
  color: white;
  margin: 0;
  margin-bottom: 40px;
  font-size: 54px;
  line-height: 46px;
}

.main-text.mobile {
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 32px;
}

.secondary-text {
  width: 80%;
  color: white;
  font-weight: normal;
  margin: 0;
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 28px;
  line-height: 26px;
}

.secondary-text.mobile {
  width: 100%;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 19px;
}

.main-button {
  width: fit-content;
  /* background-color: rgb(2, 2, 173); */
  background: white;
  color: black;
  font-size: 26px;
  padding: 10px 30px;
  border-radius: 40px;
  font-weight: 800;
  margin-top: 60px;
}

.main-button.mobile {
  font-size: 20px;
  padding: 8px 26px;
  margin-top: 30px;
}
